# SQLift PoC: SQL-to-pandas Walkthrough

This notebook explains how `sqlift_poc.py` transforms a SQL statement into pandas code.

## Example SQL query

```sql
SELECT
    o.customer_id,
    c.country,
    SUM(o.amount) AS total_amount
FROM orders o
INNER JOIN customers c ON o.customer_id = c.id
WHERE o.order_date BETWEEN '01JAN2024'd AND '31JAN2024'd
  AND c.country IN ('US', 'CA')
GROUP BY o.customer_id, c.country
HAVING SUM(o.amount) > 1000
ORDER BY total_amount DESC
LIMIT 10;
```

We will feed this SQL into `parse_sql`, inspect the resulting `SQLQuery` object, and then call `to_pandas_code` to see the emitted DataFrame operations.

In [1]:
from sqlift_poc import (
    SQLQuery,
    _convert_in_clauses,
    _convert_sas_date_literals,
    _expand_between_conditions,
    _normalize_where_expression,
    _translate_having_expression,
    parse_sql,
    to_pandas_code,
)

sql = """
SELECT
    o.customer_id,
    c.country,
    SUM(o.amount) AS total_amount
FROM orders o
INNER JOIN customers c ON o.customer_id = c.id
WHERE o.order_date BETWEEN '01JAN2024'd AND '31JAN2024'd
  AND c.country IN ('US', 'CA')
GROUP BY o.customer_id, c.country
HAVING SUM(o.amount) > 1000
ORDER BY total_amount DESC
LIMIT 10;
"""

## Stage 1 – Parsing the SQL

1. `_normalize_whitespace` collapses the SQL so regex-based parsing becomes easier.
2. `parse_sql` extracts each clause into an `SQLQuery` instance.
3. Helper functions such as `_strip_table_prefixes` and `_convert_in_clauses` prepare expressions for later phases.

In [2]:
query: SQLQuery = parse_sql(sql)

{
    key: getattr(query, key)
    for key in [
        "select",
        "from_table",
        "joins",
        "where",
        "group_by",
        "having",
        "order_by",
        "limit",
    ]
}

{'select': ['o.customer_id', 'c.country', 'SUM(o.amount) AS total_amount'],
 'from_table': 'orders',
 'joins': [{'table': 'customers', 'left': 'o.customer_id', 'right': 'c.id'}],
 'where': "o.order_date BETWEEN '01JAN2024'd AND '31JAN2024'd AND c.country IN ('US', 'CA')",
 'group_by': ['o.customer_id', 'c.country'],
 'having': 'SUM(o.amount) > 1000',
 'order_by': ['total_amount DESC'],
 'limit': 10}

### Clause normalization helpers

- `_convert_sas_date_literals` rewrites `'01JAN2024'd` into ISO strings.
- `_expand_between_conditions` expands `BETWEEN` ranges into explicit comparisons.
- `_convert_in_clauses` turns `IN (...)` into Python list membership checks.
- `_normalize_where_expression` ties all these transformations together for the WHERE clause.
- `_translate_having_expression` performs similar work for HAVING and substitutes aggregate aliases.

In [3]:
normalized_where = _normalize_where_expression(query.where or "")
normalized_having = _translate_having_expression(
    query.having or "",
    {"sum(amount)": "total_amount"},
)

normalized_where, normalized_having

("(order_date >= '2024-01-01') and (order_date <= '2024-01-31') and country in ['US', 'CA']",
 'total_amount > 1000')

## Stage 2 – Generating pandas code

`to_pandas_code` consumes the structured query plus an optional table map (binding SQL names to DataFrame variables) and emits a multi-line Python script.

In [4]:
table_map = {
    "orders": "df_orders",
    "customers": "df_customers",
}

generated_code = to_pandas_code(query, table_map)
print(generated_code)

# Generated by SQLift PoC
df = df_orders.copy()
df = df.merge(df_customers, left_on='customer_id', right_on='id', how='inner')
df = df.query("(order_date >= '2024-01-01') and (order_date <= '2024-01-31') and country in ['US', 'CA']")
df = df.groupby(['customer_id', 'country'], as_index=False).agg({'total_amount': ('amount', 'sum')})
df = df.query('total_amount > 1000')
df = df.sort_values(by='total_amount', ascending=False)
df = df.head(10)